{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <br>
    <br>
    <h2>
        Hållbar utveckling
    </h2>
    <p>
        Den här sidan representerar examinations-momentet för kursen MVC vt-2023.
        Här kommer vi titta närmare på mål nummer elva som utgör ett av FNs 17 globala
        mål som är satta fram till 2030. De globala målen berör "Hållbar utveckling" inom
        17 olika områden. Varje mål är komplext och består av mindre delmål. Mål nummer elva
        behandlar "Hållbara städer och samhällen". I den här analysen kommer några av de mindre
        delmålen att smalnas av och undersökas på närmare håll. Analysen består av två
        mindre sammanställningar och har främst som mål att vara informativ men även inslag av
        författarens egna tankar kan förekomma.
    </p>
    <h3>Trångboddhet</h3>
    <p>
        Trångboddhet är en del inom "Hållbara städer och samhällen". Enligt <a href="
        https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-11/?showAllContentLinks=True
        ">SCB</a> är det ett mått på boendestandard och människor som bor trångt kan sakna tillräckligt
        med utrymme för att umgås, leka, göra läxor eller arbeta på ett bekvämt sätt. Det finns flera
        faktorer som påverkar trångboddhet. Det kan vara ålder, inkomst och hur många som bor tillsammans.
    </p>
    <p>
        I den här analysen kommer vi smalna av området ytterligare och titta närmare på trångboddhet i Sverige
        jämfört med andra delar av Europa och Norden.
    </p>
    <p>
        Till att börja med behöver vi definiera trångboddhet. "Människor som bor trångt" räcker inte långt.
        EU har definierat ett mått som kort sagt innebär att de boende har för få rum i förhållande till
        hur många som bor där. Som exempel behöver ett par som bor tillsammans ha minst ett sovrum och vardagsrum
        utöver badrum och kök för att inte per definition kallas för trångbodda. Skaffar paret barn behöver de
        ett sovrum till och när barnen blir äldre behöver de ytterligare ett sovrum så att barnen har varsitt.
    </p>
    <p>
        Artikeln från SCB som det länkas till ovan tillhandahåller statistik för trångboddhet runtom i Europa.
        Till exempel så framgår det att år 2019 så var Sverige det land i Norden där högst andel bor trångt, 16
        procent. Jämfört med resten av EU ligger siffran på ungefär densamma, 17 procent. SCB förklarar också
        att sedan 2011 så har trångboddheten i EU minskat medan den i Norden tvärtom har ökat. Det är
        framförallt i länder som tidigare varit väldigt trångbodda som siffran har minskat. Ett exempel är Ungern
        som 2011 låg på 46 procent men som 2019 hade sjunkit till 20 procent!
    </p>
    <p>
        Detta leder oss in på Norden. Vi bryter ner statistiken ytterligare och delar upp den i två kategorier,
        inrikes och utrikes födda. Siffrorna redovisas i diagrammet nedan och representerar andelen trångbodda
        per land och övriga EU.
    </p>

    <h3>Andel trångbodda efter födelseland, 18 år och äldre, EU-27 och Norden - 2019</h3>

        {{ render_chart(chart1) }}

    <p>
        Diagrammet visar en tydlig skillnad i trångboddhet mellan inrikes och utrikes födda för samtliga länder
        i Norden och EU27. Det framgår också att utrikes födda i Sverige och Danmark ligger
        över snittet för övriga EU-27. För inrikes födda är andelen trångbodda i hela Norden lägre än i
        EU-27.
    </p>

    <p>
        Vad beror då olikheterna på? I en artikel från Malmös Universitet
        <a href="https://mau.se/nyheter/unik-kartlaggning-av-trangboddhet-i-malmo/">(MAU)</a>
        som är baserad på ett forskningsprojekt om trångboddhet i Malmö så är det framförallt
        hushåll med lägre inkomster och lägre utbildningsnivåer som bor trångt. Här understryker
        man också att trångboddheten är ännu mer förekommande bland människor födda utanför Europa,
        precis som diagrammet också visade. Enligt rapporten är trångboddhet både en konsekvens och
        en orsak till en generell ojämlikhet i samhället. Personerna bakom rapporten framhåller dock
        att det kan vara svårt att dra slutsatser mellan trångboddhet och specifika konsekvenser:
    </p>
    <p>
        "Det är viktigt att understryka att det kan vara svårt att isolera direkta samband mellan
        trångboddhet och specifika konsekvenser, då flera faktorer ofta samverkar. Trångboddhet bör
        därför förstås som en del av de komplexa orsakssamband som bidrar till
        social utsatthet", säger Matilda Sandberg.
    </p>
    <p>
        Avslutningsvis beskriver författarna att personerna som deltog i studien framhöll att
        bristen på lugn, avskildhet och utrymme påverkar förmågan att återhämta sig. Matilda
        Svanberg fortsätter:
    </p>
    <p>
        "Det övergripande handlar om bristen på eget utrymme. För att vardagslivet ska fungera
        krävs det hänsynstagande och att kompromisser görs inom hushållet.
        Bristen på utrymme och avskildhet i hemmet påverkar läxläsning och studier.
        Flera beskriver hur trångboddheten gör att mer tid tillbringas utanför bostaden."
    </p>
    <p>
        Eftersom trångboddhet är stressande i sig skapas lätt en ond cirkel som är svår att göra något
        åt. Intervjupersonerna i studien framhöll därför även vikten av gemensamma utemiljöer såsom
        grönområden, fritidsgårdar, lekplatser och skolgårdar.
    </p>






    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Land</th>
                <th>Grupp</th>
                <th>Andel</th>
            </tr>
        </thead>
        <tbody>
            {% for info in overcrowded %}
                <td>{{ info.id }}</td>
                <td>{{ info.country }}</td>
                <td>{{ info.category }}</td>
                <td>{{ info.amount }}%</td>
                <tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{# använd för att jämföra resultat https://www.scb.se/hitta-statistik/artiklar/2021/sverige-har-flest-trangbodda-i-norden/ #}
