{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <br>
    <br>
    <h2>
        Välkommen till mitt projekt!
    </h2>
    <p><a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-11/?showAllContentLinks=True">Statistik</a></p>
    <br>
    <br>

    <p>Testar på en table</p>
    <br>
    <h3>Andel trångbodda efter födelseland, 18 år och äldre, EU-27 och Norden - 2019</h3>
        {{ render_chart(chart1) }}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Land</th>
                <th>Grupp</th>
                <th>Andel</th>
            </tr>
        </thead>
        <tbody>
            {% for info in overcrowded %}
                <td>{{ info.id }}</td>
                <td>{{ info.country }}</td>
                <td>{{ info.category }}</td>
                <td>{{ info.amount }}%</td>
                <tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{# använd för att jämföra resultat https://www.scb.se/hitta-statistik/artiklar/2021/sverige-har-flest-trangbodda-i-norden/ #}
