{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <br>
    <br>
    <h2>
        Hållbar utveckling
    </h2>
    <p>
        Den här sidan representerar examinations-momentet för kursen MVC vt-2023.
        Här kommer vi titta närmare på mål nummer elva som utgör ett av FNs 17 globala
        mål som är satta fram till 2030. De globala målen berör "Hållbar utveckling" inom
        17 olika områden. Varje mål är komplext och består av mindre delmål. I den här
        analysen kommer några av de mindre delmålen att smalnas av och undersökas på närmare
        håll. Analysen kommer att blanda fakta och andra utdrag med analytikerns egna tankar.
    </p>




    <p><a href="https://www.scb.se/hitta-statistik/temaomraden/agenda-2030/mal-11/?showAllContentLinks=True">Statistik</a></p>
    <br>
    <br>

    <p>Testar på en table</p>
    <br>
    <h3>Andel trångbodda efter födelseland, 18 år och äldre, EU-27 och Norden - 2019</h3>
        {{ render_chart(chart1) }}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Land</th>
                <th>Grupp</th>
                <th>Andel</th>
            </tr>
        </thead>
        <tbody>
            {% for info in overcrowded %}
                <td>{{ info.id }}</td>
                <td>{{ info.country }}</td>
                <td>{{ info.category }}</td>
                <td>{{ info.amount }}%</td>
                <tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{# använd för att jämföra resultat https://www.scb.se/hitta-statistik/artiklar/2021/sverige-har-flest-trangbodda-i-norden/ #}
