{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block body %}
    <br>
    <br>
    <h1>
        Spelet är över!
    </h1>

    <br>
    <h2>
        Bank
    </h2>
    <p>
        {{ bankP }} poäng
    </p>
    <p>
        Bankens hand: {{ bankHand }}
    </p>
    <br>

    <h2>
        Spelare
    </h2>
    <p>
        {{ playerP }} poäng
    </p>
    <p>
        Spelarens hand: {{ playerHand }}
    </p>
    <br>

    <hr>
    <br>
    <p>
        Vinnaren är {{ winner }}! Klicka på knappen för att
        starta ett nytt spel.
    </p>
    <br>
        <form method="post" action="{{ path('game_post') }}">
            <p>
                <input type="submit" name="play_now" value="Nytt spel">
            </p>
        </form>
    <br>
{% endblock %}