{% extends "base.html.twig" %}

{% block title %}Play Card Game{% endblock %}

{% block body %}
<h1>Card Game</h1>

<h2>Bank</h2>
<p>Bank: {{ bankP }} poäng</p>
<p>Bankhand: {{ printBank }}</p>
<hr>

<h2>Spelare</h2>
<p>Spelare: {{ playerP }} poäng</p>
<p>Spelarhand: {{ print }}</p>
<hr>

<form method="post" action="">
    <p>
        <input type="submit" name="draw" value="Draw Card"
        onClick="this.form.action='{{ path('draw_card') }}';"
        >

        <br>
        {% if remain == 52 %}
            <p></p>
        {% else %}
            <input type="submit" name="stay" value="Stay"
            onClick="this.form.action='{{ path('stay') }}';"
            >
        {% endif %}
    </p>
</form>

{% endblock %}