{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}

<h2>Översikt</h2>

<p>Här kan du se en översikt av samtliga böcker som finns tillgängliga.</p>

<p>Klicka på en titel för att endast se detaljer om den boken.</p>
<p>Du kan även radera eller ändra detaljer för en bok med hjälp av knapparna.</p>

<br>
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th>ISBN</th>
                <th>Författare</th>
                <th>Bild</th>
                <th>Uppdatera</th>
                <th>Radera</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td><a href="{{ path('book_id', {'id': book.id}) }}">{{ book.title }}</a></td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.author }}</td>
                {% if book.image == null %}
                    <td><img src="{{ asset('img/no_img.jpg') }}" alt="bild sakbas" class="tableImg"/></td>
                {% else %}
                    <td><img src="{{ asset('img/' ~ book.image) }}" alt="harry p" class="tableImg"/></td>
                {% endif %}
                <td>
                    <form action="{{ path('book_update', {'id': book.id}) }}" method="get">
                        <button type="submit" class="button1">Uppdatera</button>
                    </form>
                </td>
                <td>
                    <form action="{{ path('book_delete', {'id': book.id}) }}" method="get">
                        <button type="submit" class="button2">Radera</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
