{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}

<h2>Utvald bok</h2>

<p>
    Här kan du i lugn och ro titta på en bok i taget.
</p>

<br>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.author }}</td>
                {% if book.image == null %}
                    <td><img src="{{ asset('img/no_img.jpg') }}" alt="bild sakbas" class="tableImg"/></td>
                {% else %}
                    <td><img src="{{ asset('img/' ~ book.image) }}" alt="harry p" class="tableImg"/></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

{% endblock %}
