<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body style="background-image: url({{ asset('img/street.jpg') }})">
        <header class="site-header">
            <span class="site-title">Report</span>
        </header>
    <main>
        <nav>
            <div class="routes">
                <a href="{{ path('home') }}">Home</a>
                <a href="{{ path('about') }}">About</a>
                <a href="{{ path('report') }}">Report</a>
                <a href="{{ path('lucky') }}">Lucky</a>
                <a href="{{ path('api') }}">API</a>
                <a href="{{ path('card') }}">Card</a>
                <a href="{{ path('game') }}">Game</a>
                <a href="{{ path('library') }}">Library</a>
                <a href="{{ path('metrics') }}">Metrics</a>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </main>

        <footer class="site-footer"> {% block footer %} Samuels programmeringsstuga &copy; {% endblock %}</footer>
    </body>
</html>
